html {
    font-family: 'Inconsolata', monospace;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(182, 0, 0);

}

h1,h2,h3,h4,h5,h6{
    font-family: 'Post No Bills Colombo', monospace;
}

header {
    background-color: red;
    align-content: center;
    padding: 10px 20px;
    font-size: 25px;
    padding-bottom: 0px;
}

.header-logo {
    align-content: center;
    vertical-align: middle;
    padding-right: 50px;
    text-decoration: none;
}

.header-nav-element {
    text-decoration: none; color: black;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}

.header-nav-element:hover {
    color: white;
}

.ostoskori {
    text-decoration: none; color: black;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}

.ostoskori:hover {
    color: white;
}

footer {
    border-top: transparent 2px; 
    width: 100%; 
    background-color: rgb(90, 0, 0);
    vertical-align: center;
    position: absolute;
}

footer a {
    text-decoration: none;
}

.classi1 {
    padding: 0; 
    margin: 0; 
    font-size: 20px;
    filter: invert(100%);
    padding-left: 15px;
    vertical-align: center;
}
article {
    text-decoration: none; color: rgb(0, 0, 0);
    padding-top: 100px;
    padding-left: 75px;
}
.article-nav-element:hover {
    color: rgb(255, 255, 255);
}
.article-nav-element {
    text-decoration: none; color: rgb(0, 0, 0);
    font-size: 50px;
    display:inline-block
}
.article {
    font-size: 40px;
    align-content: center;
    display:inline-block;
    padding-left: 170px
}
.uutuudet {
    display:inline-block;
    vertical-align:middle;
    padding-left: 65px;
    font-size: 45px;
    text-align:center
}
.uutuudet img{
    display:block
}

.yhteystiedot {
    color: white;
    font-family: 'Post No Bills Colombo', monospace;
    font-size: 25px;
    font-weight: bold;
}