html {
    font-family: 'Inconsolata', monospace;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(182, 0, 0);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Post No Bills Colombo', monospace;
}

header {
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 75px;
}

.header-logo {
    align-content: center;
    text-decoration: none;
    float: left;
    margin-left: 35px;
}

.header-logo img{
    height: 45px;
    margin: 15px 0;
}

.header-linkit{
    display: inline-block;
    margin-top: 10px;
    font-family: 'Post No Bills Colombo Extrabold';
    line-height: 65px;
    font-size: 20px;
}

.header-nav-element {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    transition: color .5s;
}

.header-nav-element:hover{
    color: #C3E300;
}

.ostoskori {
    float: right;
    margin-right: 35px;
    line-height: 65px;
    margin-top: 10px;
}

.ostoskori-menu{
    position: absolute;
    top: 75px;
    right: 0;
    height: 400px;
    width: 200px;
    background: rgb(182, 0, 0);
    z-index: 100;
}

.visibility{
    display: none;
}

footer {
    border-top: transparent 2px; 
    width: 100%; 
    background-color: rgb(90, 0, 0);
    vertical-align: center;
}

footer a {
    text-decoration: none;
}

.classi1 {
    padding: 0; 
    margin: 0; 
    font-size: 20px;
    filter: invert(100%);
    padding-left: 15px;
    vertical-align: center;
}
article {
    text-decoration: none; color: rgb(0, 0, 0);
    padding-top: 100px;
    padding-left: 75px;
}
.article-nav-element:hover {
    color: rgb(255, 255, 255);
}
.article-nav-element {
    text-decoration: none; color: rgb(0, 0, 0);
    font-size: 50px;
    display:inline-block
}
.article {
    font-size: 40px;
    align-content: center;
    display:inline-block;
    padding-left: 170px
}
.uutuudet {
    display:inline-block;
    vertical-align:middle;
    font-size: 45px;
    text-align:center
}
.uutuudet img{
    display:block
}

.yhteystiedot {
    color: white;
    font-family: 'Post No Bills Colombo', monospace;
    font-size: 25px;
    font-weight: bold;
    padding-top: 60px;
}

.yhteysinfo {
    font-size: 20px;
    font-weight: 200;
}

.yhteyssome {
    width: 300px;
    color: black;
    background-color: white;
    padding: 5px 5px;
    margin: 5px 0px;
    vertical-align: center;
    position: relative;
    height: 50px;
}

.kartta {
    height: 400px;
    padding-right: 100px;  
}
.button1{
    font-size: 20px;
}
.button2{
    font-size: 20px;
}