.uutuudet-img{
    height: 500px;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.edellinen{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translate(0,-50%);
}
.seuraava{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0,-50%);
}

.uutuudet-teksti {
    padding-bottom: 15px;
    color: white;
}