.uutuudet-img{
    height: 500px;
    width: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('../img/talonerikoinen.jpg');
    display: block;
}

.edellinen{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translate(0,-50%);
}

article {
    text-decoration: none; color: rgb(0, 0, 0);
    padding-top: 100px;
    padding-left: 75px;
}

.seuraava{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0,-50%);
}

.uutuudet-teksti {
    padding-bottom: 15px;
    color: white;
}

.jskuva {
    padding-top: 40px; 
    padding-bottom: 100px;  
    font-family: post no bills colombo extrabold; 
    display: inline-block; 
    width: 50%;
}

h3 {
    font-size: 40px; 
    margin: 15px 0px;
}

p {
    font-size: 20px; 
    margin: 0;
}

.nuoli {
    color: black;
}

.sivutieto {
    padding-top: 220px; 
    display: inline-block; 
    width: auto; 
    vertical-align: top;
}

.sivutieto-otsikot {
    color: white; 
    font-family: post no bills colombo extrabold; 
    font-size: 40px
}

.aukioloajat-osio {
    background-color: darkred; 
    padding: 10px; 
    width: 100%;
}

.aukioloajat {
    padding-top: 20px; 
    color: white; 
    font-size: 20px; 
    font-family: post no bills colombo;
}

.kotiinkuljetus-osio {
    background-color: darkred; 
    padding: 10px; 
    width: 100%; 
    margin-top: 10px;
}

.kotiinkuljetus {
    color: white; 
    font-family: post no bills colombo; 
    font-size: 20px
}

.uutuudet {
    display:inline-block;
    vertical-align:middle;
    padding-left: 65px;
    font-size: 45px;
    text-align:center;
}

@media screen and (max-width: 1110px) {
    .sivutieto {
        width: 100%;
        width: 50%;
        text-align: center;
        padding-top: 0;
        padding-bottom: 30px;
        width: 100%;
    }

    .jskuva {
        padding-left: 0;
        padding-bottom: 30px;
        width: 100%;
        text-align: center;
    }

    article {
        align-items: center;
        align-content: center;
        text-align: center;
        width: 100%;
    }

    .uutuudet-img {
        left: 50%;
        transform: translate(-50%);
    }

    .kotiinkuljetus-osio {
        padding-left: 0;
        padding-right: 0;
    }
    
    .aukioloajat-osio {
        padding-left: 0;
        padding-right: 0;
    }
}