.yhteystiedot {
    color: white;
    font-family: 'Post No Bills Colombo', monospace;
    font-size: 25px;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 30px;
}

.yhteysinfo {
    font-size: 20px;
    font-weight: 200;
}

.yhteyssome {
    width: 300px;
    color: black;
    background-color: white;
    padding: 5px 5px;
    margin: 5px 0px;
    vertical-align: center;
    position: relative;
    height: 50px;
}

.kartta {
    height: 400px;
    padding-right: 100px;  
    padding-bottom: 20px;
}

.info {
    display: inline-block; 
    width: 48%; 
    vertical-align: top
}

@media screen and (max-width: 1240px) {
    
}